<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>NUS EC4880: D. QUAH</title>
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/7112379/stylesheets/style_sheet-DQ.css" type="text/css">

</head>

<body>
<img alt="NUS" src="https://dl.dropboxusercontent.com/u/7112379/g/NUS-logo-compact.png"><br>
<span style="font-weight: bold;">
NUS Economics Department<br>
2013-2014 Sem2<br>
Instructor</span>: <a href="http://personal.lse.ac.uk/dquah/">Danny Quah</a>
<br>

<h1>EC4880 NUS 2014 &#8212; The Global Economy:  Growth and Governance</h1>

<A name=top></A>

<ul>
  <li><A HREF="http://bit.ly/1ivZTFd">Course outline and reading list</A></li>
  <li>Lecture slides provided in 4-per-page and Full-page versions (with
  the latter available after the corresponding lecture and intended
  only for online viewing)
   <ul>
  <li>(1: <A HREF="http://bit.ly/OQkppS">4pp</A> |
     <A HREF="http://bit.ly/1ms5kJc">Full</A>) <strong>Overview Growth</strong>
     <br>[Additional: World Poverty
     <A HREF="http://bit.ly/1l3gDEI">PDF</A> (3/page) |
     <A HREF="http://bit.ly/1g027Z9">ODP</A> (LibreOffice Impress)]
  <li>(2: <A HREF="http://bit.ly/OQkxFY">4pp</A> |
     <A HREF="http://bit.ly/1m3wfYO">Full</A>) <strong>Overview Governance</strong>
  <li>(3: <A HREF="http://bit.ly/1dpV0OS">4pp</A> | Full) <strong>The
  Middle-Income Trap</strong>
  <li>(4: 4pp | Full)
  <li>(5: 4pp | Full)
  <li>(6: 4pp | Full)
  <li>(7: 4pp | Full)
  <li>(8: 4pp | Full)
  </ul>
 <li>Seminars (TBA)
</ul>

<hr>
<address><a href="http://personal.lse.ac.uk/dquah/">Danny Quah</a></address>
<!-- hhmts start --> Last modified: Thu Mar 27 01:07:39 SGT 2014 <!-- hhmts end -->
</body> </html>
