<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <div class="gmail_default" style="color: rgb(136, 136, 136);
      font-family: verdana, sans-serif; font-size: 12.8px; font-style:
      normal; font-variant-ligatures: normal; font-variant-caps: normal;
      font-weight: normal; letter-spacing: normal; line-height: normal;
      orphans: 2; text-align: start; text-indent: 0px; text-transform:
      none; white-space: normal; widows: 2; word-spacing: 0px;
      -webkit-text-stroke-width: 0px; background-color: rgb(255, 255,
      255);"><b style="font-family: arial, sans-serif; font-size:
        12.8px;"><span style="font-size: 9pt; font-family: arial,
          sans-serif; color: rgb(112, 173, 71);" lang="EN-MY">DANNY QUAH</span></b></div>
    <div class="gmail_default" style="color: rgb(136, 136, 136);
      font-family: verdana, sans-serif; font-size: 12.8px; font-style:
      normal; font-variant-ligatures: normal; font-variant-caps: normal;
      font-weight: normal; letter-spacing: normal; line-height: normal;
      orphans: 2; text-align: start; text-indent: 0px; text-transform:
      none; white-space: normal; widows: 2; word-spacing: 0px;
      -webkit-text-stroke-width: 0px; background-color: rgb(255, 255,
      255);">Senior Fellow, Khazanah Research Institute</div>
  </body>
</html>
