# @(#) db0/.gitignore
# Last-edited: 2022.09.04.1443.Sun -- Danny Quah (me@DannyQuah.com)
# ----------------------------------------------------------------
# Revision History:
#  % Sat 2020.08.15.1306 -- Danny Quah (me@DannyQuah.com)
#    First draft: Ignore in git updates
# ----------------------------------------------------------------
*~
*.swp
.netrwhist
lockfile
*/*Cache/
1Unused.zip
.obsidian/
Config/DoubleCmd-Linux/history.xml
Config/DoubleCmd-W10/history.xml
machines/Linux/bin/
machines/Linux/fonts/
machines/Linux/lib/
machines/Ssh/authorized_keys
machines/Zsh/oh-my-zsh/
Vim/bundle/
Vim/Session.vim/
Vim/sessions/
# eof db0/.gitignore

