# @(#) db0/.gitignore
# Last-edited: Sat 2022.01.01.2325 -- Danny Quah (me@DannyQuah.com)
# ----------------------------------------------------------------
# Revision History:
#  % Sat 2020.08.15.1306 -- Danny Quah (me@DannyQuah.com)
#    First draft: Ignore in git updates
# ----------------------------------------------------------------
*~
*.swp
.netrwhist
lockfile
*/*Cache/
1Unused.zip
.obsidian/
machines/Linux/bin/
machines/Linux/fonts/
machines/Linux/lib/
machines/Ssh/
machines/Zsh/oh-my-zsh
Vim/bundle
Vim/Session.vim
Vim/sessions/
# eof db0/.gitignore

