<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    109 Clementi Road,
      Blk E #01-02, Kent Vale, Singapore 129791<br>
    <div class="moz-signature">
      <div class="moz-signature">
        <div class="moz-signature">
          <div class="moz-signature"> Tel:
              +65.9666.2273<br>
            <br>
            <br
                class="Apple-interchange-newline">
             </div>
        </div>
      </div>
    </div>
  </body>
</html>
